<?xml version="1.0" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\work\log.txt">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <targets>
    
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->

    <!-- write logs to file -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}" />      
    </target>

    <target name="colorConsole" xsi:type="ColoredConsole" useDefaultRowHightingRules="false" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
	    <highlight-row condition="level == LogLevel.Debug" foregroundColor ="Blue" />
	    <highlight-row condition="level == LogLevel.Info" foregroundColor ="Gray" />
	    <highlight-row condition="level == LogLevel.Warn" foregroundColor ="Yellow" />
	    <highlight-row condition="level == LogLevel.Error" foregroundColor ="Red" />
	    <highlight-row condition="level == LogLevel.Fatal" foregroundColor ="Red" />
	</target>


    <!--write log message to Visual Studio Output-->
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />
  </targets>

  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Trace" writeTo="colorConsole" />
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Debug" writeTo="file" />    
  </rules>
</nlog>