<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="3.0.7" targetFramework="net472" />
  <package id="FreeSql" version="3.2.800" targetFramework="net472" />
  <package id="FreeSql.DbContext" version="3.2.800" targetFramework="net472" />
  <package id="FreeSql.Provider.Sqlite" version="3.2.800" targetFramework="net472" />
  <package id="NLog" version="5.2.4" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="SunnyUI" version="3.4.2" targetFramework="net472" />
  <package id="SunnyUI.Common" version="3.4.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
</packages>